body {
  font-family: Gill Sans, sans-serif;
  background-color: black;
  text-align: center;
}
h1{
	color: red;
}
h2{
	color: red;
}
a {
  text-decoration: none;
  padding: 10px;
}
div {
  margin-bottom: 10px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 15px;


}

.link {
  margin: 20px;
}
